<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Usuario Premium</title>
</head>

<body>
    <h1>Bienvenido, {{this.first_name}} {{this.last_name}} (Usuario Premium)</h1>

    <h2>Productos Disponibles</h2>
    <ul>
        {{#each products}}
        <li>
            <h3>{{title}}</h3>
            <p>{{description}}</p>
            <p>Precio: {{price}}</p>
            <p>Código: {{code}}</p>
            <p>Categoría: {{category}}</p>
            <input type="number" id="quantity-{{_id}}" min="1" value="1">
            <button onclick="addProductToCart('{{_id}}')">Agregar al Carrito</button>
        </li>
        {{/each}}
    </ul>

    <h2>Carrito de Compras</h2>
    <div id="cart-content" style="display: none;">
        <ul id="cart-list">
        </ul>
    </div>

    <button onclick="showCart()">Mostrar Carrito</button>
    <button onclick="hideCart()">Ocultar Carrito</button>

    <button onclick="purchaseCart('{{cartId}}')">Comprar</button>

    <div>
        <h2>Agregar Nuevo Producto</h2>
        <form onsubmit="addNewProduct(event)">
            <label for="new-title">Título:</label>
            <input type="text" id="new-title" name="title" required>
            <label for="new-description">Descripción:</label>
            <input type="text" id="new-description" name="description" required>
            <label for="new-price">Precio:</label>
            <input type="number" id="new-price" name="price" step="0.01" required>
            <label for="new-code">Código:</label>
            <input type="text" id="new-code" name="code" required>
            <label for="new-category">Categoría:</label>
            <input type="text" id="new-category" name="category" required>
            <button type="submit">Agregar Producto</button>
        </form>
    </div>

    <div>
        <form action="/api/session/logout" method="get">
            <button type="submit">Cerrar Sesión</button>
        </form>
    </div>

    <script>
        function showCart() {
            const cartContentDiv = document.getElementById('cart-content');
            cartContentDiv.style.display = 'block';
        }
        function hideCart() {
            const cartContentDiv = document.getElementById('cart-content');
            cartContentDiv.style.display = 'none';
        }
        async function removeProductFromCart(productId) {
            try {
                const response = await fetch(`/api/cart/{{cartId}}/remove/${productId}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (response.ok) {
                    updateCartView();
                } else {
                    console.error('Error al eliminar producto del carrito:', response.statusText);
                }
            } catch (error) {
                console.error('Error al eliminar producto del carrito:', error);
            }
        }

        async function updateCartView() {
            try {
                const response = await fetch(`/api/cart/{{cartId}}`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (response.ok) {
                    const data = await response.json();
                    const cartList = document.getElementById('cart-list');
                    cartList.innerHTML = '';

                    data.cart.products.forEach(cartProduct => {
                        const cartProductInfo = `
                            <li>
                                <p>Producto: ${cartProduct.productId.title} - Cantidad: ${cartProduct.quantity}</p>
                                <button onclick="removeProductFromCart('${cartProduct.productId._id}')">Eliminar</button>
                            </li>
                        `;
                        cartList.innerHTML += cartProductInfo;
                    });
                } else {
                    console.error('Error al obtener el contenido del carrito:', response.statusText);
                }
            } catch (error) {
                console.error('Error al obtener el contenido del carrito:', error);
            }
        }

        window.addEventListener('DOMContentLoaded', updateCartView);

        async function addProductToCart(productId) {
            try {
                const quantityInput = document.getElementById(`quantity-${productId}`);
                const quantity = parseInt(quantityInput.value, 10);

                const response = await fetch(`/api/cart/{{cartId}}/add/${productId}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ quantity }),
                });

                if (response.ok) {
                    updateCartView();
                } else {
                    console.error('Error al agregar producto(s) al carrito:', response.statusText);
                }
            } catch (error) {
                console.error('Error al agregar producto(s) al carrito:', error);
            }
        }

        async function purchaseCart(cartId) {
            try {
                const response = await fetch(`/api/cart/${cartId}/purchase`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (response.ok) {
                    const data = await response.json();
                    updateCartView();
                } else {
                    console.error('Error al realizar la compra:', response.statusText);
                }
            } catch (error) {
                console.error('Error al realizar la compra:', error);
            }
        }

        async function addNewProduct(event) {
            event.preventDefault();

            const newProduct = {
                title: document.getElementById('new-title').value,
                description: document.getElementById('new-description').value,
                price: parseFloat(document.getElementById('new-price').value),
                code: document.getElementById('new-code').value,
                category: document.getElementById('new-category').value,
                owner: '{{this.email}}',
            };

            try {
                const response = await fetch('/api/products', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(newProduct),
                });

                if (response.ok) {
                    const addedProductData = await response.json();
                    appendNewProduct(addedProductData);
                    location.reload();
                } else {
                    console.error('Error al agregar el producto:', response.statusText);
                }
            } catch (error) {
                console.error('Error al agregar el producto:', error);
            }
        }

        function appendNewProduct(productData) {
            const productList = document.querySelector('ul');
            const newProductItem = document.createElement('li');
            newProductItem.id = `product-${productData._id}`;
            newProductItem.innerHTML = `
                <h3>${productData.title}</h3>
                <p>${productData.description}</p>
                <p>Precio: ${productData.price}</p>
                <p>Código: ${productData.code}</p>
                <p>Categoría: ${productData.category}</p>
                <input type="number" id="quantity-${productData._id}" min="1" value="1">
                <button onclick="addProductToCart('${productData._id}')">Agregar al Carrito</button>
            `;
            productList.appendChild(newProductItem);
        }
    </script>
</body>

</html>