<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Opciones para Usuario</title>
</head>
<ul>
  {{#each products}}
  <li>
    <h3>{{title}}</h3>
    <p>{{description}}</p>
    <p>Precio: {{price}}</p>
    <input type="number" id="quantity-{{_id}}" min="1" value="1">
    <button onclick="addProductToCart('{{_id}}')">Agregar al Carrito</button>
  </li>
  {{/each}}
</ul>
<div id="cart-content">

</div>
<div>
  <form action="/api/session/logout" method="get">
    <p>
      <button type="submit">Cerrar Sesión</button>
    </p>
  </form>
</div>
<script>
  async function updateCartView() {
    try {
      const response = await fetch(`/api/cart/{{cartId}}`, {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json',
        },
      });

      if (response.ok) {
        const data = await response.json();
        const cartContentDiv = document.getElementById('cart-content');


        cartContentDiv.innerHTML = '';


        data.cart.products.forEach(product => {
          const productInfo = `
            <p>Producto: ${product.productId.title} - Cantidad: ${product.quantity}</p>
          `;
          cartContentDiv.innerHTML += productInfo;
        });
      } else {
        console.error('Error al obtener el contenido del carrito:', response.statusText);
      }
    } catch (error) {
      console.error('Error al obtener el contenido del carrito:', error);
    }
  }


  window.addEventListener('DOMContentLoaded', updateCartView);

  async function addProductToCart(productId) {
    try {
      const quantityInput = document.getElementById(`quantity-${productId}`);
      const quantity = parseInt(quantityInput.value, 10);

      const response = await fetch(`/api/cart/{{cartId}}/add/${productId}`, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ quantity }),
      });

      if (response.ok) {
        console.log('Producto(s) agregado(s) al carrito');

        updateCartView();
      } else {
        console.error('Error al agregar producto(s) al carrito:', response.statusText);
      }
    } catch (error) {
      console.error('Error al agregar producto(s) al carrito:', error);
    }
  }
</script>

</body>

</html>